{erl_opts, [no_debug_info]}.
{deps, [
  {erl_utils, {git, "https://github.com/okayno14/erl_utils.git", {branch, "master"}}}
]}.

{escript_incl_apps,
 [elogfind, erl_utils]}.
{escript_main_app, elogfind}.
{escript_name, elogfind}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

{eunit_opts, [{sys_config, ["test.config"]}]}.
